/* custom bundle page */
.custom-bundle-item {
	min-width: 320px;
}

.custom-bundle-graphic {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.custom-bundle-graphic-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background: #212121;
  color: white;
  padding: 20px;
}

.custom-bundle-graphic-inner > h3 {
  margin-bottom: 0;
  font-size: 24px;
}

.custom-bundle-price-buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
  outline: 1px solid #EE34B0;
}

.custom-bundle-price-buy-container > div {
  flex: 1 1 50%;
}

.custom-bundle-buy {
  background: #EE34B0 !important;
}

.custom-bundle-price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.custom-bundle-count {
  margin: 0 auto;
  text-align: center;
}

.custom-bundle-count > span {
  font-weight: bold;
}


.custom-bundle-product-list {
  padding: 10px;
  height: 58px;
  overflow: hidden;
  box-shadow: inset 0 -13px 7px -10px rgb(0 0 0 / 20%);
  transition: 0.2s height;
}

.custom-bundle-product {
  padding: 15px;
  padding-right: 0;
  position: relative;
  font-size: 16px;
}

.custom-bundle-product::after {
  content: ""; 
  position: absolute;
  width: 10px;
  border-top: 1px solid #EE34B0;
  left: 0;
  top: 50%;
}

.custom-bundle-product::before {
  content: "";
  position: absolute;
  width: 1px;
  border-left: 1px solid #EE34B0;
}

.custom-bundle-product:first-child::before {
  height: calc(100% - 10px);
  left: -1px;
  bottom: 0;
}

.custom-bundle-product:not(:last-child):not(:first-child)::before {
  height: 100%;
  left: -1px;
  top: 0;
}

.custom-bundle-product:last-child::before {
  height: calc(50% + 1px);
  left: -1px;
  top: 0;
}

.custom-bundle-see-more-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.custom-bundle-see-more {
  font-size: 14px;
  color: gray;
}

.custom-bundle-see-more:hover {
  color: #212121;
}