#revy-bundles-wrapper.revy-bundles-wrapper__embed > div {
  width: 100%;
  margin-left: 0;
}

@media screen and (min-width: 600px) {
  #revy-bundles-wrapper.revy-bundles-wrapper__embed {
    flex-direction: row;
    /* 20px gutter divided by 2 */
    margin-left: -10px;
    margin-right: -10px;
  }

  #revy-bundles-wrapper.revy-bundles-wrapper__embed > div 
  {
    min-width: 220px;
    max-width: 400px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 25%;
    flex: 1;
    height: max-content;
  }
}

.revy-bundles-wrapper__embed .revy-bundle-title {
  display: none;
}

/* hacky override to put in custom text */
#revy-bundle-wrapper .revy-bundle-title {
  visibility: hidden;
  line-height: 0;
}

#revy-bundle-wrapper .revy-bundle-title::before {
  content: "This product is included in a bundle!";
  visibility: visible;
  display: block;
  font-size: 1.1em;
  line-height: normal;
}

#revy-bundle-wrapper .revy-bundle-wrapper-inner .revy-bundle-action .revy-bundle-add-button {
  font-weight: normal;
}

#revy-bundle-wrapper {
    border: 1px solid #e2e2e2;
    padding: 20px;
}

#revy-bundle-wrapper .revy-bundle-wrapper-inner {
  flex-direction: column-reverse;
  align-items: center;
}

/* reduce min width little bundle */
#revy-bundle-wrapper .revy-bundle-wrapper-inner .revy-bundle-products.revy-bundle-products-icon-margin .revy-bundle-product {
  min-width: 50px;
}

/* increase bot margin big bundle */
#revy-bundle-wrapper .revy-bundle-wrapper-inner .revy-bundle-products.revy-bundle-products-multiple-layout.revy-bundle-products-icon-margin .revy-bundle-product {
  margin-bottom: 20px;
}

/* layout for button given it is column now */
#revy-bundle-wrapper .revy-bundle-wrapper-inner .revy-bundle-action {
  margin-bottom: 20px;
  padding: 0;
}

/* image styling */
#revy-bundle-wrapper .revy-bundle-wrapper-inner .revy-bundle-products .revy-bundle-product .revy-bundle-image-container .revy-bundle-image-outline {
    box-shadow: none;
    line-height: inherit;
    border-radius: 0;
    min-height: 50px;
}

#revy-bundle-wrapper .revy-bundle-wrapper-inner .revy-bundle-products .revy-bundle-product .revy-bundle-image-container .revy-bundle-image-outline .revy-bundle-image {
  padding: 0;
}

.revy-bundle-info-container a {
  border-bottom: 0 !important;
}

.revy-bundle-wrapper-inner {
  margin-bottom: 0 !important;
}

/* spoof the layout of the button elements */
.revy-bundle-add-button {
  padding: 0 !important;
}

.revy-bundle-add-button > div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.revy-bundle-button-line.first {
    background: #EE34B0;
    padding: 13px 30px !important;
    display: block;
    flex: 1;
    border-bottom: 0 !important;
    font-size: 14px;
    letter-spacing: 0.3em;
    font-weight: 700;
}

.revy-bundle-button-line.second {
    color: #212121;
    -webkit-text-fill-color: #212121;
    padding: 15px !important;
    font-weight: bold;
    font-size: 1.1em;
    flex: 1;
    white-space: normal;
}

/* lift sale price up for visual alignment */
.revy-bundle-discounted-price-wrapper {
  margin-bottom: 1px;
}